* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial,  sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.Testimonial-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 20px;
}



.profile-card img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.Testimonial{
  padding: 20px;
  border-radius: 8px;
}

.profile img{
  padding: 50%;
  border-radius: 40px;
}

.Testimonial h3{
  font-size: 1.2em;
  border-bottom: 5px;
}

.Testimonial p{
  margin-bottom: 0.9em;
}

.Testimonial blockquote{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.purple{
  background-color: #6a4c93;
}

.dark-gray{
  background-color: #333a47;
}

.white3{
  background-color: #286da7;
  color: black;
  border:  1px solid #2c3e50;
}
.white{
  background-color: #5c5698;
  color: black;
  border:  1px solid #2c3e50;
}

.black{
  background-color: #2c3e50;
}

